

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) ;
    margin-left: 200px;
}

main h1 {
    margin-left: 275px;
    font-size: 1.5em;
    padding-top: 35px;
}

div span{
   display: flex;
   justify-content: center; 
   color: #eee;
}


section div img{
    width: 100%;
} 

section div {          
    margin: 1vh 1vw;
    border: 1px solid saddlebrown;
    padding-bottom: 15px;  
}

@media screen and (max-width: 500px) {
    section {
        grid-template-columns: 1fr;
        grid-template-rows: 20vh;
        display: block;
    }
    section div img {
        width: 75vw;
    }
    section div {
        margin: 15px auto;
        width: 75vw;
    }
    header>input {
        width: 30vw;
    }

    footer {
        position: relative;
    }
}

