h3 {
    color: #eee;
    margin: 10px auto;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    
}

section {
   width: 22vw;
   margin-left: 15vw;
}

section h1 {
    font-size: 1em;
}

div span{
   font-size: 1em;
   color: #eee;
   position: absolute;
   left: 85vw;
}

section div img{
    width: 55%;
    height: 100%;
} 

section div {          
    width: 25vw;
    display: flex;
    flex-direction: row; 
    margin-top: 20px;
    height: 18vh;
}


video {
    width: 45vw;
    height: 53vh;
    outline: none;
    padding: 8vh 300px;
}


article h3 {
    left: 0;
    display: inline;
    margin-right: 20vw;
}

article button {
    margin-right: 15px;
    padding: 0 5px;
    height: 30px;
    width: 70px;
    border: 0;
    border-radius: 15px;
    font-size: 10px;
}



@media screen and (max-width: 1366px) {
    main {
        grid-template-columns: 1fr;
    }

    section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr 1fr));
    
    }

    section span {
        left: 45vw;
    }
    
    section div {      
    width: 40vw;
    height: 25vh;
}


video {
    width: 45vw;
    height: 53vh;
    outline: none;
    padding: 8vh 300px;
}
 }

 /*

@media screen and (max-width: 850px) {
   h3 {
       display: flex;
       justify-content: center;
   }
   
    main {
        padding: 0 7px;
    }

    video {
        width: 100%;
        box-shadow: none;
    }
}

